*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{
  background-color:black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  height: 5rem;
  text-align: center;
  display: block;
  font-size: xx-large;
  color:white;
  margin-bottom: 1rem;
}

#movieList{
  height:7vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#movieDetails{
  width: 30vw;
 padding: .2rem; 
}

#movieDetails img{
  height: 80vh;
  width: 30vw;
  border-radius: .2rem;
  flex-direction: inherit;
}

.moviesList{

  width: 20vw;
  flex-grow: 1;
  /* background-color: green; */
  margin-right: 1rem;
}
.big{
  display: flex;
  background-color:ghostwhite;
  padding: 1rem;
  border-radius: .5rem;
  width: 60rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: initial;
}
.big h1{
  font-size: xx-large;
}
.big h2{
  font-size: xx-large;
}
.big h3{
  font-size: xx-large;
  font-weight: bold color;
   color: rgb(148, 24, 24);
/* background-color: yellow; */
   padding:.2rem;
}
.list-group-item {
  line-height: 1rem;
  cursor: pointer;
  padding:.2rem;
  border-radius:.5rem;
  display: flex;
}
.list-group-item:hover{
  background-color: rgb(255, 255, 255);
  padding: .3rem;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  border-radius:.5rem;
  color:maroon;


}
.custombtn{
  width: 10rem;
  height:3rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: .3rem;
  border-radius: .4rem;
  background-color:ghostwhite;
  color:black;
  cursor: pointer;
  margin-right: 1rem;
}
.custombtn:hover{
  background-color: black;
  color: orange;
  border:1px solid orange;
  cursor: pointer;

}