* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    font-family: 'Roboto', sans-seriff;
    height: 100vh;
    background-image: url("../src/images/movie.jpg");
    background-attachment: fixed;
    background-size: cover;
    background: #1e2535;
  }
  nav {
    width: 100%;
    background-color: rgba(248, 48, 88, 0.509);
    text-align: center;
  }
  h1 {
    padding: 20px;
    color: rgb(25, 30, 92);
  }

  .search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 0px;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    }

    .search::placeholder {
        color: #7378c5;
        }

        .search:focus {
            background-color: #050505;
            outline: none;
            }
    

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  main {
    color: magenta;
    height: 100%;
    display: flex;
    gap: 200px;
  }
  
  .moviesList {
    width: 100%;
    height: auto;
    margin: 20px;
  }
  ul {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.748);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 4px rgb(70, 44, 49);
  }
  .moviesList li {
    padding: 18px;
    border-bottom: 1px solid grey;
    cursor: default;
    list-style: square;
    border-radius: 0px;
  }
  .moviesList li:last-child {
    border-bottom: none;
  }
  
  .moviesDetails {
    margin-top: 30px;
    width: 75%;
    display: flex;
    height: 100%;
  }
  
  #movieDetails {
    position: relative;
    height: 88%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.748);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 3px 3px 10px 4px rgb(70, 44, 49);
  }
  #movieDetails div {
    margin-left: 10px;
  }
  h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  .moviesDetails img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  span {
    color: aqua;
    font-size: 1.3rem;
  }
  .customtitles {
    color: rgb(248, 48, 88);
  }
  
  .custombtn {
    position: absolute;
    background-color: #30b9f8;
    border: none;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    color: maroon;
    font-size: 1.5rem;
    left: 400px;
    bottom: 80px;
  }
  p {
    margin-bottom: 6px;
  }
  .soldOut {
    background-color: aqua;
    color: crimson;
  }